.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  border-radius: 2px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: inherit;
}

.search-bar:hover {
  border: 1px solid var(--figma-color-border);
}

.search-bar:focus-within {
  border: 1px solid var(--figma-color-border-selected);
}

.search-bar input {
  height: 100%;
  width: 120px;
  border: none;
  margin-left: 4px;
  padding: 0;
  background-color: transparent !important;
  text-overflow: ellipsis;
  outline: none !important;
  color: inherit;
  font-size: 11px;
}

.search-bar input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::placeholder {
  font-size: 11px;
}

.search-bar input:focus::placeholder {
  display: none;
  color: transparent;
}

.clear-icon {
  width: 18px;
  cursor: pointer;
}

.wait-icon {
  width: 18px;
  cursor: wait;
}
