.react-dropdown-select {
  width: 176px !important;
  height: 32px !important;
  justify-content: flex-start;
  padding: 0 12px !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
  box-sizing: border-box !important;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 558px) {
  .react-dropdown-select {
    width: 100% !important;
  }
}

.react-dropdown-select-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.react-dropdown-select-content svg {
  margin: 0 12px 0 0;
}

.react-dropdown-select:focus-within {
  background-color: white;
  color: black;
  outline: none !important;
  border: 1px solid black !important;
  box-shadow: none !important;
}

.react-dropdown-select-item {
  color: #333;
  height: 40px !important;
  display: flex;
  align-items: center;
}

.react-dropdown-select-item svg {
  margin: 0 12px;
}

.react-dropdown-select-dropdown {
  position: absolute;
  left: 0;
  border: none;
  width: 500px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px !important;
  max-height: 300px;
  overflow: auto;
  z-index: 9;
  box-shadow: none;
}
.react-dropdown-select-item {
  color: black;
}
.react-dropdown-select-item:hover {
  color: white;
  background-color: #18a0fb !important;
}

.react-dropdown-select-item.react-dropdown-select-item-selected,
.react-dropdown-select-item.react-dropdown-select-item-active {
  color: white !important;
  background-color: #18a0fb !important;
}

.react-dropdown-select-item:focus {
  color: white !important;
  background-color: #18a0fb !important;
}

.react-dropdown-select-item.react-dropdown-select-item-disabled {
  background: #777;
  color: #ccc;
}
