body {
  font: 12px sans-serif;
  text-align: center;
  margin: 0px;
}

a {
  color: black;
  margin-left: 4px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  flex: 1;
  padding: 4px;
  margin-bottom: 40px;
  overflow-y: scroll;
}

.icon {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s;
}

.icon:hover {
  background-color: rgba(163, 159, 171, 0.2);
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 313px;
  margin: 16px;
  padding: 0 16px 4px;
}

.empty-state p {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  background-color: white;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
